@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Noto+Sans+JP&display=swap');

:root {
  --color0: #000000;
  --color1: #0E5E6F;
  --color2: #3A8891;
  --color3: #F2DEBA;
  --color4: #FFEFD6;
  --color5: #ffffff;

  --padding1: 14px;

  --lineheight: 1.4em;

  --fontsize1: 12px;
  --fontsize2: 14px;
  --fontsize3: 20px;
  --fontsize4: 8px;

  --maxwidth: 480px;

  --footheight: 40px;
}

* {
  font-family: 'Noto Sans JP', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color4);
}

.container {
  max-width: var(--maxwidth);
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 100%;
}

@media screen and (max-width: var(--maxwidth)) {
  .container {
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

header {
  background-color: var(--color2);
  color: var(--color5);
  padding: var(--padding1);
}

.title {
  font-size: var(--fontsize3);
  font-family: 'Mochiy Pop P One', sans-serif;
}

.description {
  font-size: var(--fontsize1);
}

main {
  padding: var(--padding1);
}

.div_reset {
  width: 100%;
  text-align: right;
}

.div_mapname {
  width: 100%;
  text-align: center;
}

.input_mapname {
  width: 80%;
}

.div_input {
  background-color: var(--color3);
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: var(--padding1);
  font-size: var(--fontsize1);
  box-sizing: border-box;
}

.display_input {
  width: 55%;
  text-align: right;
  overflow: hidden;
  white-space: nowrap;
  overflow-x: hidden;
}

.space_input {
  width: var(--padding1);
}

textarea {
  touch-action: manipulation;
  resize: none;
}

.textarea_input {
  width: 45%;
  overflow: hidden;
  white-space: pre;
  overflow-x: hidden;
  font-size: var(--fontsize1);
  line-height: var(--lineheight);
}

.div_enter {
  width: 100%;
  text-align: center;
}

table {
  border-collapse: collapse;
  border: 1px solid var(--color0);
  font-size: 14px;
  width: 100%;
  text-align: center;
}

table tr:first-child {
  border: 1px solid var(--color0);
  background-color: var(--color5);
  font-weight: bold;
}

table td:nth-child(1) {
  width: 40%;
}

table td:nth-child(2) {
  width: 15%;
}

table td:nth-child(3) {
  width: 20%;
}

table td:nth-child(4) {
  width: 25%;
}

td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.div_score {
  width: 100%;
  text-align: center;
}

footer {
  background-color: var(--color2);
  color: var(--color5);
  padding: var(--padding1);
  top: 100vh;
  position: sticky;
}

.menu {
  font-size: var(--fontsize1);
  cursor: pointer;
}

.hint {
  font-size: var(--fontsize4);
  margin-left: 5px;
}

.menu_description {
  font-size: var(--fontsize1);
  display: none;
}

ol {
  font-size: var(--fontsize1);
  padding-left: var(--padding1);
}

ul {
  font-size: var(--fontsize1);
  padding-left: var(--padding1);
}

.button {
  width: 120px;
  height: 36px;

  border: 2px solid var(--color0);
  border-radius: 5px;

  background-color: var(--color2);
  color: var(--color5);

  font-family: 'Mochiy Pop P One', sans-serif;
}

.button:hover {
  background-color: var(--color1);
}

.button:active {
  background-color: var(--color2)
}